name: Publish NuGet

on:
  push:
    tags:
      - 'v*'

jobs:    
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Pack
        run: dotnet pack PersianDatePicker/PersianDatePicker/PersianDatePicker.csproj -c Release -o ./nupkg --no-build --include-symbols --include-source
          
      - name: Publish
        run: |
          dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
          dotnet nuget push ./nupkg/*.snupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
